@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Momo Trust Sans", sans-serif;
    ;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 100%;
    max-width: 1536px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    flex-wrap: nowrap;
    gap: 20px;
    font-size: clamp(16px, 5vw, 30px);
}

#navbar-bar {
    display: none;
}

.logo {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}


.action-btn {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-action-btn {
    left: 0 !important;
    transition: 0.5s;
}

.action-btn div a {
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.action-btn div a:hover {
    border-bottom: 3px solid #fd7e14;
    padding-bottom: 3px;
}

.header-right {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.hr-reg {
    color: #666666;
    font-size: 16px;
}

.hr-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.hr-icons span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box-container {
    max-width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 1px solid black; */
    border-radius: 8px;
    top: 90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    background: rgba(225, 225, 225, 0.8);
}

.input-active {
    transform: scale(1) !important;
    transition: 1s;
}

.search-box {
    width: 1400px;
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
}

.search-box input {
    width: 95%;
    height: 100%;
    outline: none;
    border: none;
}

.login-form {
    position: absolute;
    max-width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    top: 120px;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    transform: scale(0);
    background: rgba(225, 225, 225, 0.8);
    margin: auto;
}

.login-form span {
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-email {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.login-form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

.form-password {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.signin-btn {
    width: 100%;
    height: 60px;
    background: gray;
    border-radius: 8px;
    margin: 20px 0px;
    cursor: pointer;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-btn:hover {
    background: black !important;
    color: white;
}

main {
    max-width: 1536px;
    margin: auto;
}

.hero-sec {
    max-width: 1536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


.hs-left {
    width: 50%;
    height: 638px;
    background: url('./images/download.webp');
    background-size: 110% 100%;
    background-repeat: no-repeat;
    /* margin: 0px 0px 10px 0px; */
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hsl-content {
    width: 390px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.hsl-content h2 {
    font-size: 60px;
    font-family: "Cookie", cursive;
    font-weight: 400;
}

.hsl-content p {
    color: #666666;
}

.shop-now {
    width: 95px;
    transition: 0.3s;
}

.shop-now:hover {
    border-bottom: 3px solid #fd7e14;
    padding-bottom: 3px;
}

.hs-right {
    width: 50%;
    height: 638px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    z-index: -999;
}

.hsr-items {
    position: relative;
    width: 49%;
    height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* border: 1px solid black; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hsr-content {
    max-width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: left;
    background: transparent;
    position: absolute;
    top: 30%;
    left: 30px;
    flex-wrap: wrap;
    margin-left: 20px;

}

.hsr-items:nth-child(1) {
    background-image: url('./images/download\ \(1\).webp');
}

.hsr-items:nth-child(2) {
    background-image: url('./images/download\ \(2\).webp');
}

.hsr-items:nth-child(3) {
    background-image: url('./images/category-3.jpg.webp');
}

.hsr-items:nth-child(4) {
    background-image: url('./images/category-4.jpg.webp');
}

/* 
.hs-right div {
    background: url('./images/download\ \(1\).webp');
} */

.hsr-content h2,
.hsr-content p,
.hsr-content a {
    margin: 0;
}


.new-product{
    max-width: 100%;
    margin-top: 10px;
}

.np-content{
    max-width: 85%;
    margin: auto;
    /* border: 1px solid black; */
}

.npc-top{
    max-width: 1536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.npc-top div{
    max-width: 50%;
}
.npc-top div ul{
    max-width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 16px;
    list-style: none;
    color: #111111;
    font-weight: 400;
}

.npc-top div:nth-child(1){
    font-size: 24px;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
}

.npc-top div:nth-child(1) span{
    border-bottom: 3px solid #fd7e14;;
    margin-bottom: 100px;
}

.npc-bottom{
    max-width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.npcb-card{
    max-width: 265px;
    max-height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 20px 10px;
}

.npcb-card div{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



